{% if rnaSequences %}
  <script id="rna-sequences-data" type="application/json">
    {{ rnaSequences | dump | safe }}
  </script>
  <script src="/assets/js/rna.js" type="module"></script>
{% endif %}
