.poem-page {
  margin-left: clamp(0px, calc((100vw - 430px) * 280 / 1010), 280px);
}

.poem-title {
  font-size: clamp(1.75rem, calc(1.543rem + 0.884vw), 2.25rem);
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--black);
  text-shadow:
  /* Layer 1: Tight definition (The Ink Edge) */ 0px 1px 2px
    rgba(var(--green-rgb), 0.2);
}

@media (max-width: 1000px) {
  .poem-title {
    margin-top: 1rem;
  }
}
